article {
    position: relative;
    cursor:pointer;
  }
  
  .article-img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
  }
  
  .article-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.2);
  }